{% extends "base.html" %}

{%block title %}Izdelki{% endblock %}
{% block header %}
<script src="{{url_for('static', filename='js/ui/items.js')}}"></script>
{% endblock %}


{% block above_content %}
<div class="functions-wrapper row">
    <div class="filters">
        <div class="filter-name row">
            <label>Ime vsebuje:
                <input type="text">
            </label>
        </div>
        <label>Trgovina
            <select class="filter-store">
                <option value="" selected>Vse</option>
                {% for s in stores %}
                    <option value="{{ s.storeName }}">{{ s.storeName }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <button class="button-confirm-filters button-item-filters pointer">Potrdi filtre</button>
    <a class="button-add-new-item pointer" href="/items/add-item">Dodaj nov izdelek</a>
</div>
{% endblock %}