{% extends "base.html" %}

{%block title %}Izdelki{% endblock %}
{% block header %}
<script src="{{url_for('static', filename='js/ui/items.js')}}"></script>
{% endblock %}


{% block above_content %}
<div class="functions-wrapper row">
    <div class="filters">
        <div class="filter-name row">
            <label>Ime vsebuje:
                <input type="text">
            </label>
        </div>
        <label>Trgovina
            <select>
                <option></option>
            </select>
        </label>
    </div>
    <button class="button-confirm-filters pointer">Potrdi filtre</button>
    <button class="button-add-new-item pointer">Dodaj nov izdelek</button>
</div>
{% endblock %}